<a href="https://colab.research.google.com/github/shivam-kotwalia/data-science-project/blob/master/Pipeline_in_Pandas_pdpipe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
! pip install pdpipe -q
! mv kaggle.json /root/.kaggle/.

# Pipelining in Pandas
## We can do a comparision between pdpipe and tf.feature_column

In [0]:
import pdpipe as pdp
import kaggle
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
sorted([i for i in pdp.__dir__() if not i.startswith("_")]) # These are all the options that you can perform through PdPIPE

['AdHocStage',
 'AggByCols',
 'ApplyByCols',
 'ApplyToRows',
 'Bin',
 'ColByFrameFunc',
 'ColDrop',
 'ColRename',
 'ColReorder',
 'DropNa',
 'DropRareTokens',
 'Encode',
 'FreqDrop',
 'Log',
 'MapColVals',
 'OneHotEncode',
 'PdPipeline',
 'PdPipelineStage',
 'RemoveStopwords',
 'RowDrop',
 'Scale',
 'SnowballStem',
 'TokenizeWords',
 'UntokenizeWords',
 'ValDrop',
 'ValKeep',
 'exceptions',
 'make_pdpipeline',
 'nltk_stages']

### US Housing Dataset <<https://www.kaggle.com/vedavyasv/usa-housing>>

In [0]:
df = pd.read_csv("USA_Housing.csv")

In [17]:
df.head()

   Avg. Area Income  ...                                            Address
0      79545.458574  ...  208 Michael Ferry Apt. 674\nLaurabury, NE 3701...
1      79248.642455  ...  188 Johnson Views Suite 079\nLake Kathleen, CA...
2      61287.067179  ...  9127 Elizabeth Stravenue\nDanieltown, WI 06482...
3      63345.240046  ...                          USS Barnett\nFPO AP 44820
4      59982.197226  ...                         USNS Raymond\nFPO AE 09386

[5 rows x 7 columns]

In [19]:
df.describe()

       Avg. Area Income  Avg. Area House Age  ...  Area Population         Price
count       5000.000000          5000.000000  ...      5000.000000  5.000000e+03
mean       68583.108984             5.977222  ...     36163.516039  1.232073e+06
std        10657.991214             0.991456  ...      9925.650114  3.531176e+05
min        17796.631190             2.644304  ...       172.610686  1.593866e+04
25%        61480.562388             5.322283  ...     29403.928702  9.975771e+05
50%        68804.286404             5.970429  ...     36199.406689  1.232669e+06
75%        75783.338666             6.650808  ...     42861.290769  1.471210e+06
max       107701.748378             9.519088  ...     69621.713378  2.469066e+06

[8 rows x 6 columns]

## How to make pipeline simple example 
#### Lets normalize the Area population

In [21]:
df.dtypes

Avg. Area Income                float64
Avg. Area House Age             float64
Avg. Area Number of Rooms       float64
Avg. Area Number of Bedrooms    float64
Area Population                 float64
Price                           float64
Address                          object
dtype: object

In [35]:
# Here we wanted every float64 type column to Scale with MinMaxScaler expect Price column 
normalize_population = pdp.Scale("MinMaxScaler", exclude_columns=["Price"]) 
df2 = normalize_population(df)
df2.head()

   Avg. Area Income  ...                                            Address
0          0.686822  ...  208 Michael Ferry Apt. 674\nLaurabury, NE 3701...
1          0.683521  ...  188 Johnson Views Suite 079\nLake Kathleen, CA...
2          0.483737  ...  9127 Elizabeth Stravenue\nDanieltown, WI 06482...
3          0.506630  ...                          USS Barnett\nFPO AP 44820
4          0.469223  ...                         USNS Raymond\nFPO AE 09386

[5 rows x 7 columns]

In [40]:
(df2.Price != df.Price).any() # Price column has not been changed, it remains the same

False