In [1]:
import pandas as pd
import numpy as np 
from IPython.display import display

In [2]:
item = np.array(["A", "B", "C"])

In [12]:
df = pd.DataFrame({"item" : np.random.choice(item, 10), 
              "quantity": np.random.randint(3, 11, 10)})

In [13]:
df.head()

  item  quantity
0    A         7
1    A         8
2    A         5
3    B         9
4    A         5

In [14]:
df.groupby("item").sum()

      quantity
item
A           37
B           24
C            5

In [22]:
def group_sum(df):
    print("In func")
    display(df)
    #return df["quantity"].sum()

In [23]:
df.groupby('item').apply(group_sum)

In func

  item  quantity
0    A         7
1    A         8
2    A         5
4    A         5
7    A         9
8    A         3

In func

  item  quantity
0    A         7
1    A         8
2    A         5
4    A         5
7    A         9
8    A         3

In func

  item  quantity
3    B         9
5    B         7
9    B         8

In func

  item  quantity
6    C         5

Empty DataFrame
Columns: []
Index: []